<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <img src="../../assets/img/erreur404.png" class="card-img-top" alt="..."
            style="height: 25rem; margin-top: 30px; width: 350px;">
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1> OOPS PAGE INTROUVABLE </h1>
        <h4> Pour retenu sur la page principale cliquez <a routerLink="/liste-pokemons"> Ici </a> </h4>
    </div>
    <div class="col-3"></div>
</div>